# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# variables locales
.env

# modelos de ia
models/gemma-2-2b-it.q4_k_m.gguf
models/llama-3.2-3b-instruct-q4_k_m.gguf
models/google_gemma-3-4b-it-q4_k_m.gguf
models/gemma-3n-E2B-it-Q4_K_M.gguf
models/google_gemma-3-1b-it-Q4_K_M.gguf
models/Llama-3.2-3B-Instruct-IQ3_M.gguf
models/Phi-3.5-mini-instruct-Q4_K_M.gguf

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
